<div>
  <h1>Part 1: Counter</h1>
  <h1>{{number}}</h1>
</div>
<div id="buttons">
  <button (click)="increment()" id="incButton" class="btn btn-primary">Increment</button>
  <button (click)="decrement()" id="decButton" class="btn btn-primary">Decrement</button>
  <button (click)="reset()" id="resetButton" class="btn btn-primary">Reset</button>
</div>
<div>
    <h2>{{message}}</h2>
</div>

<hr>

<div>
  <h1>Part 2: To Do List</h1>
  <table class="table table-bordered-black">
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Completed</th>
    </tr>
    <tr *ngFor="let item of items" [ngClass]="{'bg-success':item.completed, 'bg-danger':!item.completed}" (click)="moreInfo(item)">
      <td>{{item.name}}</td>
      <td>{{item.place}}</td>
      <td>{{item.completed}}</td>
    </tr>
  </table>
</div>

<hr>

<div>
  <h1>Part 3: To Do Form</h1>
</div>

<div class="form-group">
  <label for="itemName"> Item Name</label>
  <input type="text" class="form-control" placeholder="Item Name" [(ngModel)]="newItem.name">
</div>
<div class="form-group">
  <label for="itemPlace"> Item Place</label>
  <input type="text" class="form-control" placeholder="Item Place" [(ngModel)]="newItem.place">
</div>
<div class="form-group">
    <label for="itemDesc"> Item Description</label>
    <input type="text" class="form-control" placeholder="Item Description" [(ngModel)]="newItem.description">
  </div>
<div>
  <button type="submit" class="btn btn-primary" (click)="saveItem()">Submit</button>
</div>

<br>

<div>
  <h1>Part 4: More Information</h1>
  <table class="table table-bordered table-responsive">
  <tr>
    <td>Name:</td>
    <td>{{selectedItem.name}}</td>
  </tr>
  <tr>
    <td>Place:</td>
    <td>{{selectedItem.place}}</td>
  </tr>  
  <tr>
    <td>Description:</td>
    <td>{{selectedItem.description}}</td>
  </tr>
  </table>
</div>

<hr>

<div>
  <h1>Part 5: Detail Selected Item using Component</h1>
  <app-detail-selected [newItem]="selectedItem"></app-detail-selected>
</div>

<hr>

<div>
  <h1>Part 6: User Service</h1>
  <table class="table table-bordered">
    <thead>
      <td>Name</td>
      <td>Alias</td>
      <td>Email</td>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.alias}}</td>
      <td>{{user.email}}</td>
    </tr>
  </table>
</div>

<hr>

<div>
  <h1>Part 6: User Service using HTTP</h1>
  <table class="table table-bordered">
    <thead>
      <td>Name</td>
      <td>Alias</td>
      <td>Email</td>
    </thead>
    <tr *ngFor="let user of httpusers">
      <td>{{user.name.title}} {{user.name.first}} {{user.name.last}}</td>
      <td>{{user.location.city}}</td>
      <td>{{user.email}}</td>
    </tr>
  </table>
</div>